{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{{ judul }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pages/anggota/form/tambah_admin.css' %}">
{% endblock %}

{% block content %}
<div class="page-tambah-admin">

    <div class="form-card">

        <h2>{{ judul }}</h2>

        <form method="post" id="formAdmin" >
            {% csrf_token %}

            <div class="row g-3">
                {% for field in form %}
                    <div class="col-md-4">

                        <!-- label -->
                        <label>{{ field.label }}</label>

                        <!-- input -->
                        {% if "password" in field.name %}
                            <div class="input-wrapper">
                                {% if field.errors %}
                                    {{ field|add_class:"form-control is-invalid" }}
                                {% else %}
                                    {{ field|add_class:"form-control" }}
                                {% endif %}
                                <i class="bi bi-eye-slash-fill input-icon toggle-password"></i>
                            </div>
                        {% else %}
                            {% if field.errors %}
                                {{ field|add_class:"form-control is-invalid" }}
                            {% else %}
                                {{ field|add_class:"form-control" }}
                            {% endif %}
                        {% endif %}

                        <!-- pesan error -->
                        {% if field.errors %}
                            <div class="invalid-feedback">
                                {% for error in field.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}

                    </div>
                {% endfor %}
            </div>

            <!-- tombol aksi -->
            <div class="text-end mt-4">
                <a href="{% url 'anggota:kelola_akun' %}" class="btn-outline">Batal</a>
                <button type="submit" class="btn-simpan">Simpan</button>
            </div>

        </form>

    </div>

</div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/anggota/form/form_anggota.js' %}"></script>
{% endblock %}