{% extends "base.html" %}
{% block title %}Detail Admin{% endblock %}

{% block content %}
<div class="main-content">

  <div class="content-card detail-card">
    <h1>👤 Detail Admin</h1>

    <div class="row">
      <div class="col">
        <label>No</label>
        <div class="field-box">{{ nomor_urut }}</div>
      </div>
      <div class="col">
        <label>Username</label>
        <div class="field-box">{{ admin.username }}</div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label>Role</label>
        <div class="field-box">{{ admin.role }}</div>
      </div>
    </div>
  </div>

  <div class="btn-back-container">
    <a href="{% url 'kelola_akun' %}">⬅ Kembali</a>
  </div>

</div>
{% endblock %}
