/* ===============================
   DETAIL ADMIN
================================ */

.page-detail-admin .detail-card {
    max-width: 100%;
}

/* ROW */
.page-detail-admin .row {
    margin-bottom: 15px;
}

/* LABEL */
.page-detail-admin label {
    display: block;
    font-weight: 600;
    margin-bottom: 6px;
    color: #291B18;
    font-size: 15px;
}

/* FIELD BOX */
.page-detail-admin .field-box {
    background: #ffff;
    border: 1px solid #ccc;
    padding: 10px 14px;
    border-radius: 10px;
    font-size: 15px;
    color: #291B18;
}

/* TITLE */
.page-detail-admin h1 {
    font-size: 25px;
    font-weight: 700;
    color: #291B18;
    margin-bottom: 20px
}
