/* ===============================
   DETAIL ADMIN
================================ */

.page-detail-admin .detail-card {
    max-width: 100%;
}

/* ROW */
.page-detail-admin .row {
    margin-bottom: 16px;
}

/* LABEL */
.page-detail-admin label {
    display: block;
    font-weight: 600;
    margin-bottom: 6px;
    color: #4A2C2A;
    font-size: 14px;
}

/* FIELD BOX */
.page-detail-admin .field-box {
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px 12px;
    border-radius: 8px;
    font-size: 14px;
    color: #333;
}

/* TITLE */
.page-detail-admin h1 {
    font-size: 26px;
    font-weight: 600;
}
