{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/pages/simpanan/detail/simpanan_anggota.css' %}">
{% endblock %}

{% block title %}Simpanan Anggota{% endblock %}

{% block content %}
<div class="content-card">
  <h2 style="margin-bottom: 25px;">Simpanan {{ anggota.nama }} ({{ anggota.nomor_anggota }})</h2>

  <table class="data-table">
    <thead>
      <tr>
        <th>Nomor Anggota</th>
        <th>Nama</th>
        <th>Jenis Simpanan</th>
        <th>Total Saldo</th>
        <th style="text-align:center;">Aksi</th>
      </tr>
    </thead>
    <tbody>
      {% for item in data_saldo %}
      <tr>
        <td>{{ anggota.nomor_anggota }}</td>
        <td>{{ anggota.nama }}</td>
        <td>{{ item.jenis|title }}</td>
        <td class="rupiah-text" data-value="{{ item.saldo }}">
            Rp {{ item.saldo|floatformat:0 }}
        </td>
        <td style="text-align:center;">
          <div class="action-group">
            <a href="{% url 'simpanan:detail_simpanan' anggota.nomor_anggota item.jenis_id %}"
               class="action-view btn-detail">
              <i class="ph-bold ph-eye"></i>
            </a>
            <a href="{% url 'simpanan:tambah_penarikan' anggota.nomor_anggota item.jenis_id %}"
               class="action-tarik btn-penarikan action-export"
               data-saldo="{{ item.saldo }}">
              <i class="ph-bold ph-wallet"></i>
            </a>
          </div>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5" class="empty-state">Belum ada simpanan</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
  <div>
    <a href="{% url 'simpanan:daftar_simpanan' %}" class="btn-kembali">Kembali</a> 
  </div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/simpanan/simpanan_anggota.js' %}"></script>
{% endblock %}