.pagination-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    flex-wrap: wrap;
    gap: 12px;
}

/* INFO KIRI */
.pagination-info {
    font-size: 13px;
    color: #555;
}

/* NAV KANAN */
.pagination-container {
    display: flex;
}

.pagination {
    display: flex;
    gap: 4px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination li {
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 6px;
    font-size: 12px;
    box-sizing: border-box;
}


.pagination li a {
    text-decoration: none;
    color: #333;
}

.pagination .active {
    background: #facc15;
    font-weight: 600;
}

.pagination .disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
