/* ===== JUDUL SECTION ===== */
.content-card h2,
.content-card h5 {
    font-weight: 600;
    color: #291B18;
    margin-bottom: 12px;
    line-height: 1.3;
}

.content-card h2 {
    font-size: 30px;
}

.content-card h5 {
    font-size: 25px;
}

/* Khusus judul modal */
.bayar-card h5 {
    text-align: center;
    margin-bottom: 16px;
    font-size: 20px;
}

.bayar-modal{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.45);
    display:flex;
    align-items:center;
    justify-content:center;
    opacity:0;
    pointer-events:none;
    transition:.25s;
    z-index:9999;
}

.bayar-modal.active{
    opacity:1;
    pointer-events:auto;
}

.bayar-card{
    background:#fff;
    padding:26px;
    max-width:380px;
    width:100%;
    border-radius:14px;
}

.list-pinjaman{
    list-style:none;
    padding:0;
    margin:15px 0;
}

.list-pinjaman li{
    margin-bottom:10px;
}

.list-pinjaman a{
    display:block;
    padding:12px;
    background:#fff9d6;
    border:1px solid #FFD700;
    border-radius:10px;
    text-decoration:none;
    font-weight:600;
}

.list-pinjaman a:hover{
    background:#FFD700;
}

.btn-tutup{
    background: #FFD700;
    color: #291B18;
    font-weight: 600;
    padding: 6px 14px;
    border-radius: 6px;
    border: none;
    font-size: 15px;
    transition: 0.2s;
}

.btn-tutup:hover {
    background: #e6c200;
}


/* === responsive tabel === */
.table-responsive-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.scroll-hint-mobile {
    display: none;
    font-size: 12px;
    color: #888;
    margin-bottom: 6px;
}

@media (max-width: 768px) {
    .scroll-hint-mobile {
        display: block;
    }

    .content-card .data-table {
        min-width: 750px; /* naikkan supaya konten tidak kepepet */
    }

    /* cegah teks angka rupiah wrap */
    .content-card .data-table .rupiah-text {
        white-space: nowrap;
    }

    /* cegah semua th/td wrap */
    .content-card .data-table th,
    .content-card .data-table td {
        white-space: nowrap;
    }
}